body {
  background: url(/assets/img/burger.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  font-family: 'Bevan', cursive;
}
.title {
  margin: 10px;
 text-align: center;
 font-size: 40px;
}

li {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}
h2 {
  padding: 5px;
  margin: 15px;
  text-align: center;
  font-size: 30px;
}
.add-burger {
  margin-top: 200px;
  text-align: center;
}

.change-devoured, .delete, .add {
  margin-left: 10px;
}

#add{
    font-size: 20px;
}
